.title__login {
    color: black;
    font-size: 36px;
    border-bottom: 4px solid var(--primaryColor);
    margin: auto;
    margin-block: 30px 20px;
    padding-bottom: 5px;
}

.form-group {
    margin: 0 auto;
    width: 500px;
    border: 2px solid #0578A6;
    border-radius: 10px;
    padding-block: 20px;
    margin-bottom: 30px;
}

.form-group__login {
    all: unset;
    display: block;
    padding: 5px 10px;
    margin: 0 50px;
    position: relative;
}

.label__text {
    display: block;
    margin: 5px;
}

.user-login {
    all: unset;
    width: 325px;
    background-color: #F7F9F9;
    padding: 12px 0px 12px 40px;
    border-radius: 8px;
}

.login__icon {
    color: #0578A6;
    font-size: 25px;
    position: absolute;
    top: 48%;
    left: 15px;
}

/* .my-password {
    display: block;
    color: var(--primaryColor);
    font-weight: bold;
    text-align: right;
    text-decoration: none;
    margin: 10px 70px 50px;
} */

.login__failed {
    color: red;
    text-align: center;
    margin: -20px 0 10px;
}


.btn-login {
    all: unset;
    display: block;
    background-color: #033F73;
    color: #fff;
    font-weight: bold;
    font-size: 1.5rem;
    border-radius: 8px;
    padding: 10px 150px;
    margin: 40px auto;
    /* margin-block: 50px; */
    cursor: pointer;
}

.registe {
    font-size: 14px;
    text-align: center;
    margin-top: 15px;
}
  
  .registre-count {
    color: #033F73;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
}