.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.modal__body {
    width: 750px;
    height: 630px;
    background-color: #f2f2f2;

    padding: 20px;
}

.modal__btnx {
    width: 1.5em;
    display: flex;
    vertical-align: middle;
    padding: 0.25rem 0.25rem 0.25rem 0.25rem;
    border-radius: 6px;
    border-color: #f2f2f2;
    box-shadow: #f2f2f2;
    color: #f2f2f2;
    background-color: #0578A6;
    font-size: 14px;
    font-family: roboto;
    margin: 10px 60px 10px 680px;
    cursor: pointer; 
}

.img__livro {
    margin: auto;
}

.modal__title {
    font-size: 20px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

.modal__subtitle {
    font-size: 14px;
    font-weight: bold;
    color: #0578A6;
    margin-bottom: 30px;
}

.description {
    display: flex;
    flex-direction: column;
    margin-right: 300px;
    
}

.text__title {
    font-size: 16px;
    color: #000000;
    margin-top: -30px;
    margin-bottom: 10px;
    text-align: justify;
}

.modal__cad {
    font-size: 16px;
    color: #033F73;
    margin: -50px 520px;
    text-align: justify;
    
}

.modal__disp {
    font-size: 12px;
    color: #033F73;
    margin: 55px 520px;
    text-align: justify;
}

.modal__text {
    font-size: 16px;
    color: #033F73;
    border-bottom: 4px solid #D9D9D9;
    margin: 30px -200px 50px 480px;

    padding-bottom: 2px;

}

.img__title {
    color: black;
    font-size: 18px;
    border-bottom: 4px solid #D9D9D9;
    margin-right: 580px;
    margin-block: -100px 20px;
    padding-bottom: 2px;
}

.modal__img {
    display: inline-flex;
    margin: 20px;
}

.modal__btn {
    width: 10em;
    display: inline-block;
    vertical-align: middle;
    margin: 100px 275px;
    padding: 0.25rem 0.55rem 0.25rem 0.55rem;
    border-radius: 6px;
    border-color: #f2f2f2;
    box-shadow: #f2f2f2;
    color: #f2f2f2;
    background-color: #033f73;
    font-size: 14px;
    font-family: roboto;
    cursor: pointer;
}