.title__registrer {
    color: black;
    font-size: 36px;
    border-bottom: 4px solid var(--primaryColor);
    margin: auto;
    margin-block: 30px 20px;
    padding-bottom: 5px;
}

.form-group {
    width: 500px;
    background-color: #F6FCFF;
    border-radius: 10px;
    padding-block: 20px;
}

.form-group__cadastro {
    all: unset;
    display: block;
    padding: 5px 10px;
    margin: 0 50px;
    position: relative;
}

.label__text {
    display: block;
    margin: 5px;
}

.user-nome {
    all: unset;
    width: 325px;
    background-color: var(--bg-input);
    padding: 12px 0px 12px 40px;
    border-radius: 8px;
}

.user-email {
    all: unset;
    width: 325px;
    background-color: var(--bg-input);
    padding: 12px 0px 12px 40px;
    border-radius: 8px;
}

.register__failed {
    color: red;
    text-align: center;
    margin-block: 10px 5px;
}

.user-telefone {
    all: unset;
    width: 325px;
    background-color: var(--bg-input);
    padding: 12px 0px 12px 40px;
    border-radius: 8px;
}

.user-senha {
    all: unset;
    width: 325px;
    background-color: var(--bg-input);
    padding: 12px 0px 12px 40px;
    border-radius: 8px;
}

.register__success {
    color: var(--buttonSuccess);
    text-align: center;
    margin-block: 10px;
}

.btn-cadastro {
    all: unset;
    display: block;
    background-color: var(--primaryColor);
    color: #fff;
    font-weight: bold;
    font-size: 1.5rem;
    border-radius: 8px;
    padding: 10px 150px;
    margin: 0 auto;
    margin-top: 15px;
    cursor: pointer;
}

.login-group__previus {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    margin-right: 70px;;
}
  
.register__arrow {
    display: inline-block;
    font-size: 28px;
    color: var(--primaryColor);
}
  
.register__login {
    color: var(--primaryColor);
    font-size: 14px;
    font-weight: bolder;
    text-decoration: none;
    padding-block: 10px;
}

.form__lgpd-register {
    font-size: 14px;
    text-align: justify;
    margin: 30px 50px 10px;
}
