.form-query__cep {
    display: block;
    margin: 0 40px 40px;
}

.form-group__info__cep {
    all: unset;
    width: 400px;
    display: block;
    position: relative;
}

.query__cep {
    font-size: 22px;
    font-weight: bold;
}

.input__cep {
    width: 300px;
    outline: none;
    border: 2px solid var(--primaryColor);
    border-radius: 7px;
    padding: 10px 50px 10px 10px;
    margin-top: 10px;
}

.btn__query-cep {
    all: unset;
    background-color: var(--buttonSuccess);
    border-radius: 8px;
    padding: 10px 15px;
    margin-left: 5px;
    cursor: pointer;
}

.btn__query-cep:hover {
    opacity: .8;
}

.emphasis {
    color: var(--primaryColor);
    font-weight: 600;
}

.cep__list-item {
    line-height: 30px;
    margin: 0 40px;
}