.title__page {
    color: black;
    font-size: 14px;
    border-bottom: 4px solid var(--primaryColor);
    margin: auto;
    margin-block: 30px 20px;
    padding-bottom: 5px;
}

.card {
    width: auto;
    margin-top: 20px;
    border-radius: 2px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    cursor: pointer;
}