.title-help {
    border-bottom: 4px solid var(--primaryColor);
    padding: 4px;
    margin-top: 40px;
}

.card-title {
    color: var(--primaryColor);
    font-style: bold;
    padding: 5px;
    margin-bottom: 10px;
}

.content__card {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.card__help {
    all: unset;
    display: block;
    background-color: #F6FCFF;
    padding: 32px;
    margin-top: 60px;
    margin: 50px;   
}

.cantent-card {
    background-color: #f2f2f2; 
}

.card__help:hover {
    background-color: var(--tertiaryColor);
}
