.title-help {
    border-bottom: 4px solid var(--primaryColor);
    padding: 4px;
    margin-top: 40px;
}

.card-help-1 {
    all: unset;
    display: block;
    padding: 25px;
    margin-top: 60px;
    margin-right: 600px;
    border: 2px solid var(--secundaryColor);
}

.card-title {
    color: var(--primaryColor);
    font-style: bold;
    padding: 5px;
    margin-bottom: 10px;
}