.img__book {
    margin-bottom: 20px;
}

.card__body {
    width: 300px;
    padding: 20px;

    border: 0.16rem solid #033f73;
    border-radius: 6px;

    margin: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}

.card__body:hover {
    box-shadow: 0 8px 10px #f2f2f2, 0 4px 10px #033f73;
}

.card__title {
    font-family: Roboto;
    font-size: 18px;
    text-align: left;
    color: #033f73;
}

.card__subtitle {
    font-family: Roboto;
    font-size: 14px;
    text-align: left;
    color: #0578A6;
    margin-top: 10px;
}

.card__description {
    font-family: Roboto;
    font-size: 16px;
    text-align: start;
    font-size: 15px;
    text-align: justify;
}

.card__btn {
    width: 100x;
    display: inline-block;
    vertical-align: middle;
    padding: 9px;
    border-radius: 10px;
    border-color: #f2f2f2;
    box-shadow: #f2f2f2;
    color: #f2f2f2;
    background-color: #0578A6;
    font-size: 17px;
    font-family: roboto;
    outline: none;
    margin-left: 50px;
    margin-right: 50px;
    cursor: help;
}

.card__btn:hover {
    box-shadow: 0 1px 4px #f2f2f2, 0 1px 4px #0578A6;
}

.description {
    color: #033f73;
    margin-bottom: 10px;
}