.header {
    width: 100%;
    height: 60px;
    background-color: #f2f2f2;
    border-bottom: 1px solid #e7e7e7;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    width: 50px;
    margin-left: 20px;
}

.header__menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu__item {
    font-size: 14px;
    font-weight: bold;
    color: #0578a6;
    margin-right: 20px;

    text-decoration: none;
}