.header {
    width: 100%;
    /* height: 60px; */
    background-color: #f2f2f2;
    border-bottom: 1px solid #e7e7e7;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 3px;
}

.header__logo {
    width: 50px;
    margin-left: 20px;
}

.header__menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu__item {
    font-size: 14px;
    font-weight: bold;
    color: #0578a6;
    margin-right: 20px;
    font-family: roboto;
    text-decoration: none;
}

.button__signup-item {
    color: #033f73;
}

.button__signup-item:hover {
    color: white;
}


.button__signup {
    display: inline-block;
    justify-content: center;
    height: 30px;
    width: 150px;
    align-items: center;
    vertical-align: middle;
    line-height: 1.25rem;
    border-color: #ffffff;
    border-radius: 6px;
    color: #033f73;
    background-color: transparent;
    font-size: 14px;
    font-weight: bold;
    margin-right: 20px;
    text-decoration: none;
    cursor: pointer;
    font-family: roboto;
    border-color: #033f73;
}

.button__signup:hover {
    background-color: #033f73;
    color: #f2f2f2;
}

.header__input {
    display: inline-block;
    vertical-align: middle;
    padding: 0.25rem 7.25rem 0.25rem 0.25rem;
    border-radius: 6px;
    box-shadow: #f2f2f2;
    color: #033f73;
    font-size: 14px;
    font-family: roboto;
    outline: none;

}

.search {
    display: inline-block;
    vertical-align: middle;
    padding: 0.25rem 0.55rem 0.25rem 0.55rem;
    border-radius: 6px;
    border-color: #f2f2f2;
    box-shadow: #f2f2f2;
    color: #f2f2f2;
    background-color: #033f73;
    font-size: 14px;
    font-family: roboto;
    outline: none;
    margin-left: 5px;

}

.header__user {
    color: #033f73;
    display: inline-block;
    vertical-align: middle;
    font-size: 1.6em;
    padding: 0.25rem 0.45rem 0.25rem 0.25rem;
}